.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffc794;
  height: 260vh;
  font-family: "Judson", serif;

  width: 100vw;
}

.title h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 30vh;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffeede;
  border-radius: 5%;
  box-shadow: 2% 4% 2% rgba(0, 0, 0, 0.1);
  width: 76vw;
  height: 180vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8%;
  overflow-y: auto;
  margin-top: fit-content;

  padding-top: 140vh;

  -webkit-box-shadow: 0px 0px 15px 3px rgba(255, 255, 224, 0.9);
  -moz-box-shadow: 0px 0px 15px 3px rgba(255, 255, 224, 0.9);
  box-shadow: 0px 0px 15px 3px rgba(255, 255, 224, 0.9);
}

.package-boxes {
  display: flex;
  flex-wrap: wrap;
  width: 60vw;
  border-radius: 45%;
  justify-content: center;
  margin-top: 15px;
  align-items: center;
}
.separator {
  width: 100%; /* Set the width of the separator */
  border: none; /* Remove default border */
  border-top: 5px dotted #000000; /* Add a solid line as a separator */
}

.home-title {
  font-size: 2.5rem;
  margin-top: 2.1vh;
  margin-bottom: 0.1vh;
}
div.package {
  background-color: #fff7e7;
}
@media (max-width: 768px) {
  .home-page {
    height: auto; /* Adjust the height for smaller screens */
    padding-bottom: 10vh; /* Add some bottom padding for smaller screens */
  }

  .home-container {
    width: 90%; /* Adjust the width for smaller screens */
    margin-top: 100vh; /* Adjust the top margin for smaller screens */
  }

  .logo {
    width: 50%; /* Adjust the width for smaller screens */
    height: 20vh; /* Adjust the height for smaller screens */
  }

  .package-boxes {
    width: 90%; /* Adjust the width for smaller screens */
  }

  .home-title {
    font-size: 1.8rem; /* Adjust the font size for smaller screens */
    margin-top: 1vh; /* Adjust the top margin for smaller screens */
    margin-bottom: 0.5vh; /* Adjust the bottom margin for smaller screens */
  }

  /* Additional adjustments for individual package boxes
  div.package {
    /* Apply specific styles for individual package boxes on smaller screens if needed */

  /* Adjustments for separator */
  .separator {
    margin-top: 10px; /* Add margin above the separator for smaller screens */
  }
}

div.header-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1.8vh;
  margin-bottom: 2vh;
}

div.home-container {
  scroll-behavior: smooth;
}
