.about-background {
  background-color: #b1a2ca;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  height: 100%; /* Fill the available vertical space */
  width: 100%; /* Fill the available horizontal space */
  overflow: hidden; /* Prevents clouds from overflowing */
}

.giant-cloud {
  position: absolute; /* Change to absolute positioning for accurate placement */
  width: 250; /* Increase the width */
  height: 120; /* Increase the height */
  background-color: #f5f5f5;
  border-radius: 150px; /* Adjust border-radius to match half of the height */
  margin: 0; /* Remove margin */
  box-shadow: 0px 8px 15px rgba(2, 2, 2, 0.4);
}

.giant-cloud::before {
  width: 180px; /* Adjust the dimensions of the pseudo-element */
  height: 120px; /* Adjust the dimensions of the pseudo-element */
  top: -45px; /* Fine-tune the positioning */
  left: 45px; /* Fine-tune the positioning */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.giant-cloud::after {
  width: 120px; /* Adjust the dimensions of the pseudo-element */
  height: 90px; /* Adjust the dimensions of the pseudo-element */
  top: -30px; /* Fine-tune the positioning */
  right: 45px; /* Fine-tune the positioning */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
