.header-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0;
  background-color: #bddcd3;
  color: FFFFFF;
  font-size: 1.2rem;
  font-weight: 600;
  height: 7vh;
  position: fixed;
  top: 0;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 1.5vh;
  border-radius: 5%;
}
.logo-3 {
  display: flex;
  margin-top: 0.8vh;
  width: 7.3vw; /* Adjust the width as needed */
  height: 8vh; /* Adjust the height as needed */
}
