.header-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  background-color: #b7a9cd;
  color: FFFFFF;
  font-size: 1rem;
  font-weight: 600;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 2vh;
  border-radius: 5%;
}
.logo-3 {
  width: 7vw; /* Adjust the width as needed */
  height: 8vh; /* Adjust the height as needed */
}
